html {
	position: relative;
	min-height: 100%;
}
body > #bodyDiv{
	min-height: 100vh;
	position: relative;
	padding-bottom: 50px;
}
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
}
.footer {
	background: var(--jm-primary, #1b75bb);
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	padding-top: 3px;
}
.footer .text-muted {
	color: #f7f7f7 !important;
}
.footer .text-muted a{
	color: var(--jm-primary-light, #f7f7f7);
}
body.no-footer-sticky-bottom > #bodyDiv {
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 0px;
}
body.no-footer-sticky-bottom footer.footer{
	position: relative;
}
