
/** Generic utility classes */
.do-hide{
	display:none;
}

/** Body frame (test server) */
body.testserver {
	background: red;
}

#bodyDiv {
	background: white;
}

#bodyDiv.testserver {
	margin: 10px;
}

.testserver-top {
	background-color: red;
	color: yellow;
	text-align: center;
	padding: 5px;
	padding-bottom: 0;
}

/** Navbar */
.navbar-brand img.logo {
	max-height: 35px;
}

/** Forms */
.ag-checkbx-cust {
	padding-left: 0px;
	cursor: pointer;
}

.ag-checkbx-cust input {
	position: relative;
	opacity: 1;
	margin-right: 10px;
	cursor: pointer;
	z-index:0;
}

/** Breadcrumbs */
.ag-breads-row .col {
	padding-left: 0px;
	padding-right: 0px;
}

.sub-header-cont .breadcrumb{
	background-color: #fff;
}

.sub-header-cont .breadcrumb-item a{
	color: #000;
}

.sub-header-cont .breadcrumb-item.active{
	color: #fff;
}

.breadcrumb-item+.breadcrumb-item{
	padding-left: 0px;
}

.breadcrumb-item+.breadcrumb-item::before{
	color: #fff;
	display: none;
}

.breadcrumb .bc-text{
	border: 1px solid #000;
	border-radius: 4px;
	padding: 0px 5px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.breadcrumb .bc-text:hover {
	background: #000;
}

.breadcrumb .bc-text:hover a{
	color: #fff;
	text-decoration: none;
}

.breadcrumb .bc-text.active{
	background: #000;
}

.breadcrumb .bc-arrow {
	color: #000;
	margin-right: 3px;
	font-size: 9px;
	position: relative;
	top: -3px;
	margin-left: -1px;
}

.breadcrumb .bc-text, .breadcrumb .bc-arrow {
	display: inline-block;
}

@media(min-width: 992px){

	.breadcrumb .bc-text{
		padding: 3px 10px;
	}

	.breadcrumb .bc-arrow {
		margin-right: 4px;
		font-size: 16px;
		position: relative;
		top: 0px;
		margin-left: 2px;
	}

}


/** Datatables */
.dtbl-buttons-container {
	float: right;
	margin-top: 10px;
	color: var(--jm-primary, #2b76b6);
}

.dtbl-buttons-container a{
	text-decoration: none;
	color: var(--jm-primary, #2b76b6);
}

.dtbl-buttons-itm {
	color: var(--jm-primary, #2b76b6);
	cursor: pointer;
	position: relative;
	z-index: 500;
}

.dataTables_wrapper .dataTables_info{
	float: left;
}

.dataTables_wrapper .dataTables_processing{
	width: 240px;
	border: 1px solid #2b76b6;
	padding-top: 4px !important;
	background: #eef;
	margin: auto;
	left: calc( 50% - 120px );
	color: #2b76b6;
	top: 30%;
}

.dataTables_scrollBody {
	min-height: 400px;
}

@media (max-width: 767px){
	.dataTables_wrapper .dataTables_info {
		text-align: left;
	}
}


/** Styling multilevel dropdown menu */
.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
